include LICENSE
include LICENSE.CC-Bootloader

include README.md
include FAQ
include TODO

include revision.sh

include rfcat_msfrelay
include rfcat_server

recursive-include firmware *
recursive-include etc *